
<script id="datePicker-template" type="text/template">
    <input type="text" class="datepicker date-required" id="{{fieldName}}" name="{{fieldName}}">
    <label for="{{fieldName}}">{{label}}</label>
</script>
