<script id="cardAction-template" type="text/template">
    <a href='#' class='dropdown-button card-header-option' data-activates='{{fieldName}}'><i class="material-icons right">more_vert</i></a>
    <ul id='{{fieldName}}' class='dropdown-content'>
        {{#option}}
            <li><a href="#!" class="{{className}}">{{text}}</a></li>
        {{/option}}
    </ul>
</script>
