@model IEnumerable<DYF.Models.Bande>

<div class="step-title waves-effect">Informations</div>
<div class="step-content">
    <div class="row">
        <!-- #region Loader -->
        <div id="step1Loader">
            <div class="preloader-wrapper big active loader">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        
        
        <form class="col s12 card" id="formDetailNouvellePesee" name="formDetailNouvellePesee">

            <div class="row card-header" id="step1Header">
                Information de la pesée
                @*<a href='#' class='dropdown-button card-header-option' data-activates='dropdown1'><i class="material-icons right">more_vert</i></a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">one</a></li>
                    <li><a href="#!">two</a></li>
                </ul>*@
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <select id="bande" name="bande" class="select-required">
                        <option value="" disabled selected>Choisir une bande</option>
                        @foreach (var bande in Model)
                        {
                            <option value="@bande.Id">@bande.Nom</option>
                        }
                    </select>
                    <label>Bande</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <select id="repartitionBande" class="select-required" name="repartitionBande">
                        <option value="" disabled selected>Choisir un bâtiment</option>
                    </select>
                    <label>Repartition Bande</label>
                </div>

            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="input-field col s12" id="datePeseeDiv">
                        
                    </div>

                </div>
                <div class="col s12 m6 l6">
                    <div class="input-field col s12">
                        <input name="typePesee" type="radio" id="individuelle" value="2" checked />
                        <label for="individuelle">Individuelle</label>
                        <input name="typePesee" type="radio" id="groupee" value="1" />
                        <label for="groupee">Groupée</label>
                    </div>

                </div>
            </div>
            
        </form>
        
    </div>
    <div class="row step-actions">
        <a class="waves-effect waves-light btn" id="endOfFirstStep">SUIVANT</a>
    </div>
</div>
@Html.Partial("~/Views/MustacheTemplate/selectTemplate.cshtml")
@Html.Partial("~/Views/MustacheTemplate/datePickerTemplate.cshtml")


