<script id="step3Card-template" type="text/template">
    {{#template}}
    <div class="col s12 m4 l4">
        <div class="card horizontal hoverable">
            <div class="card-image" style="background:{{color}}">
                <i class="material-icons">{{icon}}</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <div>{{statsName}}</div>
                    <div class="number" id="resultatPeseeEffectif">{{value}}</div>
                </div>
            </div>
        </div>
    </div>
    {{/template}}
</script>
