
<script id="select-template" type="text/template">
    <option value="{{defaultValue}}" disabled selected>{{defaultText}}</option>
    {{#template}}
    <option value="{{value}}">{{text}}</option>
    {{/template}}
</script>
