<div class="col s6">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <i class="material-icons right more">expand_more</i>
                <i class="material-icons right less" style="display: none">expand_less</i> Article Title
            </div>
            <div class="collapsible-body">
                <p>
                    Content Snipit
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons right more">expand_more</i>
                <i class="material-icons right less" style="display: none">expand_less</i> Article Title
            </div>
            <div class="collapsible-body">
                <p>
                    Content Snipit
                </p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons right more">expand_more</i>
                <i class="material-icons right less" style="display: none">expand_less</i> Article Title
            </div>
            <div class="collapsible-body">
                <p>
                    Content Snipit
                </p>
            </div>
        </li>
    </ul>
</div>