/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*#region Default color */

/*#region Label */

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}


/*#endregion */

/*#region Button */

.btn, .btn-large {
    background-color: #ee6e73
}
/*#endregion */

/*#endregion */
/*#region General rule */

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

main, .main-content {
    height: 100%;
    background-color: #f7f7f7;
}

.no-margin {
    margin-bottom: 0px !important;
}

div.error {
    color: red;
    font-size: 0.8rem;
}



header, main {
    padding-left: 300px;
}

.card-header {
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

    .card-header > .card-header-option {
        position: absolute;
        top: 15px;
        right: 15px;
        list-style: none;
    }


.deleteTableRow {
    cursor: pointer;
}

.step-content .card-image img {
    height: 80px;
    width: 80px !important;
}

.step-content .card-stacked .card-content {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 24px;
    padding-top: 3px;
}

    .step-content .card-stacked .card-content .number {
        font-size: 30px;
    }

.modal {
    width: 75% !important;
    max-height: 100% !important;
    overflow-y: hidden !important;
}

.modal-content {
    overflow-y: hidden !important;
}

#statsResults .card-image {
    width: 28%;
    text-align: center;
}

#statsResults .card-image i {
    font-size: 4em;
    color: white;
    line-height: 80px;
}

ul.stepper:not(.horizontal) .step.active::before, ul.stepper:not(.horizontal) .step.done::before, ul.stepper.horizontal .step.active .step-title::before, ul.stepper.horizontal .step.done .step-title::before {
    background-color: #ee6e73 !important;
}



/*#endregion */

/*#region Main Navbar */

nav div:first-child {
    margin-right: 150px
}

/*#endregion */

/*#region Side Navbar */

.profile-picture {
    height: 45px;
    width: 45px;
    margin-left: 6px;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    padding-left: 32px;
}

.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
    background-color: transparent;
}

.side-nav .collapsible-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.side-nav .collapsible-header i {
    margin: 0px !important;
}

.side-nav {
    background-image: url("../img/bg.jpg");
}

.user-info {
    background: #bfadad;
    padding: 10px;
    background-image: url("../img/b.jpg");
    background-repeat: no-repeat;
    height: 65px;
    margin-bottom: 0px;
}

.side-nav li.active {
    background-color: rgba(0, 0, 0, 0);
}

/*#endregion */

/*#region Media queries */
@media screen and (max-width: 992px) {
    header, main {
        padding-left: 0px;
    }
}

/*#endregion */









